<?xml version="1.0"?>
<model>
  <name>simple_chess_clock</name>
  <version>0.1.0</version>
  <author>
   <name>Silvia Guerini</name>
   <email>silvia1.guerini@mail.polimi.it</email>
  </author>
  <sdf>simple_chess_clock.sdf</sdf>
  <description>
    simplified chess clock with two buttons and an ARUCO marker over it
  </description>
</model>
