<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<!-- Args and params-->
	<arg name="rviz"  default="false"/>
	<arg name="command_args" value="-d $(find tiago_moveit_tutorial)/launch/grasping.rviz" />
	<rosparam file="$(find tiago_moveit_tutorial)/config/tiago_octomap_motions.yaml" />

	<!-- Nodes -->
	<!-- Trigger grasping without looking for markers. Code to run in simulation with known world measures -->
	<node pkg = "playchess" type = "grasp_piece.py" name = "grasp_piece" required = "false" output = "screen"/>
		<rosparam file = "$(find playchess)/config/tiago_playchess.yaml" />
		<rosparam file = "$(find playchess)/config/offset_movement.yaml" />
		<param name="back_home" value="false"/>
	
	<group if="$(arg rviz)">
		<node name="pick_demo_rviz" pkg="rviz" type="rviz" args="-d $(find tiago_pick_demo)/config/rviz/tiago_pick_demo.rviz" />
	</group>
	
</launch>
